orders flow.json
{
  "name": "orders flow",
  "nodes": [
    {
      "parameters": {
        "formTitle": "orders",
        "formFields": {
          "values": [
            {
              "fieldLabel": "name",
              "placeholder": "your name"
            },
            {
              "fieldLabel": "order",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {
                    "option": "burger with cheese"
                  },
                  {
                    "option": "burger sada"
                  },
                  {
                    "option": "denamit"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "price",
              "fieldType": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        0,
        0
      ],
      "id": "6b1a387f-0efa-4bd8-a473-aaf48272e3d3",
      "name": "On form submission",
      "webhookId": "9c51993c-89fe-4194-865d-8c6a7c265212"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1aNZbSKaahpX0wDBkGBaB63psoAQfFtTHrmALvegZzZw",
          "mode": "list",
          "cachedResultName": "orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.name }}",
            "order": "={{ $json.order }}",
            "price": "={{ $json.price }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "order",
              "displayName": "order",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        336,
        32
      ],
      "id": "3ce78082-bd92-494f-96b2-cd02a6b4432f",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "v3pp2liPaHFFe6JG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "youssefyehia194@gmail.com",
        "subject": "=new order from  {{ $json.name }}",
        "emailType": "text",
        "message": "=order is {{ $json.order }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        208,
        -144
      ],
      "id": "0629f596-3142-42f9-a72c-cf2fc4b70002",
      "name": "Send a message",
      "webhookId": "33a7c74b-2118-4b47-aec5-ddf189b7c28d",
      "credentials": {
        "gmailOAuth2": {
          "id": "pRtBliB0U2kVeT5w",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let order = [];\n\n// نعدي على كل الـ items اللي جاية من Google Sheets\nfor (const item of items) {\n  if (item.json.order) {\n    order.push(String(item.json.order));\n  }\n}\n\n// نضمهم في نص واحد مفصول بسطر جديد\nconst order_text = order.join('\\n');\n\nreturn [\n  {\n    json: {\n      orderText: order_text\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        48
      ],
      "id": "19af793c-7da0-4f4b-8c8c-366de608db51",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a261bbe4-4862-4f2d-9b8c-c38aaf7ee028",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "52f74da9870ff728765c61c312c7823a894987fdae138344d9d8df9a17323011"
  },
  "id": "VMJudygiDmbRIU14",
  "tags": []
}
